{% extends "base.html" %}

{% block content %}

    <div class="avaliacao">
        <h1>Nova avaliação</h1>
        <div class="filme_ava">
            <h3 class="categoria">Filmes</h3>
            <select name="Filmes" id="filmes_ava">
                <option value="duna">-</option>
                <option value="duna">Duna</option>
                <option value="starwars">Star Wars</option>
                <option value="mulna">Mulna</option>
            </select>
        </div>
        <div class="nota_ava">
            <h3 class="categoria">Nota</h3>
            <button class="star">&#9734</button>
            <button class="star">&#9734</button>
            <button class="star">&#9734</button>
            <button class="star">&#9734</button>
            <button class="star">&#9734</button>
        </div>
        <div class="comentario_ava">
            <h3 class="categoria">Comentário</h3>
            <textarea id="comentario" name="comentario" rows="4" cols="50" placeholder="Escreva seu comentário..."></textarea>
        </div>
        <button>Cancelar</button>
        <button>Enviar</button>
    </div>
    
{% endblock %}