{% extends "base.html" %}

{% block content %}

    <section class="avaliacao">

        <section class="titulo_ava">

            <h1>Nova avaliação</h1>    
            <p>Compartilhe sua jornada cinematográfica com a comunidade.</p>

        </section>

        <!-- Engloba os campos -->
        <form action="{{ url_for('avaliacao') }}" method="POST" class="avaliacao_campos">

            <section class="filme_ava">

                <h3 class="categoria">SELECIONAR O FILME</h3>

                <!-- 1) o "name" tem que ter o mesmo nome que no json (filme_id)-->
                <!-- 2) o python já está enviando as informações dos filmes ao carregar a pagina -->
                <select name="filme_id" id="filmes_ava" required>
                    <option value="" disabled selected>Selecione um filme.</option>
                    {% for filme in filmes %}
                        <!-- Exibe o título do filme cadastrado no menu suspenso para o usuário. -->
                        <option value="{{ filme.id }}">{{ filme.titulo }}</option>
                    {% endfor %}
                </select>

            </section>
    
            <section class="nota_ava">

                <h3 class="categoria">AVALIAÇÃO</h3>

                <select name="nota" id="nota_ava" required>
                    <option value="" disabled selected>Selecione a nota...</option>
                    <option value="0">0 </option>
                    <option value="1">1 ★</option>
                    <option value="2">2 ★★</option>
                    <option value="3">3 ★★★</option>
                    <option value="4">4 ★★★★</option>
                    <option value="5">5 ★★★★★</option>
                </select>

            </section>

            <section class="nome_avaliador">

                <h3 class="categoria">SEU NOME</h3>
                <input type="text" name="nome_avaliador" class="texto_nome" placeholder="Insira seu nome." required>
           
            </section>
    
            <section class="critica_ava">

                <h3 class="categoria">SUA CRÍTICA</h3>
                <textarea name="comentario" class="text_critica" rows="4" cols="45" placeholder="Escreva sua critica." required></textarea>
            
            </section>
    
            <div class="botoes_ava">

                <a href="{{ url_for('dashboard') }}">
                    <button type="button" class="botao_cancelar">CANCELAR</button>
                </a>
                <button type="submit" class="botao_salva">SALVAR</button>

            </div>

        </form>
    </section>
    
{% endblock %}