<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<!DOCTYPE html>

<html lang="pt-br">

<head>
    
    <meta charset="UTF-8">

    <title>projetinho dos filmes</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <header>

        <nav>
            <h2 class="base_title">UNICINE</h2>
            
            <div class="base_links">

                <a href="{{ url_for('dashboard') }}">
                    Dashboard
                </a>
    
                <a href="{{ url_for('catalogo') }}">
                    Catálogo
                </a>
    
                <a href="{{ url_for('avaliacao') }}">
                    Nova Avaliação
                </a>

            </div>

        </nav>

    </header>

    <main>

        {% block content %}

        {% endblock %}

    </main>

</body>

</html>
