{% extends "base.html" %}

{% block content %}

<section class="dashboard">

    <h1>Dashboard</h1>
    
    <p>
        <strong>Total de avaliações cadastradas:</strong>
        {{ total_avaliacoes }}
    </p>
    
    <h2>Top Avaliados</h2>
    
    {% if ranking %}
    
    <table>
    
        <tr>
            <th>Posição</th>
            <th>Filme</th>
            <th>Média</th>
            <th>Avaliações</th>
        </tr>
    
        <!-- Percorre todos os filmes presentes no ranking -->
        {% for filme in ranking %}
    
        <tr>
    
            <!-- loop.index mostra a posição do filme no ranking -->
            <td>{{ loop.index }}</td>
    
            <!-- Exibe o título do filme -->
            <td>{{ filme.titulo }}</td>
    
            <!-- Verifica se o filme possui avaliações -->
            <td>
    
                {% if filme.media is not none %}
                    {{ filme.media }}
                {% else %}
                    Sem avaliações
                {% endif %}
    
            </td>
    
            <!-- Mostra quantas avaliações o filme recebeu -->
            <td>{{ filme.quantidade_avaliacoes }}</td>
    
        </tr>
    
        {% endfor %}
    
    </table>
    
    {% else %}
    
    <p>Nenhum filme cadastrado.</p>
    
    {% endif %}
    
    <h2>Adicionados Recentemente</h2>
    
    <!-- Verifica se existe algum filme cadastrado -->
    {% if filmes_recentes %}
    
    <ul>
    
    <!-- Percorre a lista de filmes recentes e exibe as informações listadas e os posters dos filmes -->
    {% for filme in filmes_recentes %}
    
        <li>
    
            <img src="{{ filme.capa_url }}" alt="{{ filme.titulo }}">
    
            <div>
    
                <strong>{{ filme.titulo }}</strong>
    
                <br>
    
                {{ filme.descricao }}
    
            </div>
    
        </li>
    
    {% endfor %}
    
    </ul>
    
    {% else %}
    
    <p>Nenhum filme cadastrado.</p>
    
</section>

{% endif %}

{% endblock %}